<% if @user.id == current_user.id %>
  <section class="cover">
    <figure class="self-cover">
      <%= form_for(current_user, url: registration_path(current_user), html: { method: :put, :id => 'form' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: current_user %>
        <%= f.file_field :cover_img, direct_upload: true, :accept => "image/*" %>
      <% end %>
      <a href="" id="uploader">
        <%if @user.cover_img.attached? %>
          <%= image_tag(url_for(@user.cover_img))%>
        <%else%>
          <%= content_tag :div unless @user.cover_img.attached? %>
        <% end %>
      </a>
    </figure>
  </section>
  <%= render 'script'%>
<% else %>
  <section class="cover">
    <figure class="viewer-cover">
      <%= image_tag(url_for(@user.cover_img)) if @user.cover_img.attached? %>
      <%= content_tag :div unless @user.cover_img.attached? %>
    </figure>
  </section>
<% end %>
