<%= form_for @culture, url: {action: "create"} do |f| %>
  <div class="field">
    <%= f.label "tweet to #{@user.full_name} " %>
    <%= f.text_field :text, autofocus: true, autocomplete: "text" %>
  </div>
<% end %>

<div class="tweets">
  <h4><span>ALL TWEETS / </span><span>NO REPLIES</span></h4>
  <% users.each do |tweet|  %>
    <% user = get_user_by_id(tweet.user_id)%>
    <div class="followers">
      <div class="profile-img">
        <figure>
          <%= link_to culture_path(user) do %>
            <%= image_tag(url_for(user.profile_img)) if user.profile_img.attached? %>
            <%= content_tag :div unless user.profile_img.attached? %>
          <% end %>
        </figure>
      </div>
      <div class="profile-info">
        <p><%="#{user.full_name}"%></p>
        <span><%=tweet.text%></span>
      </div>
    </div>
  <% end %>
</div>


