
<nav class="navbar-user">
<% if user_signed_in? %>
  <span>Logged in as <strong><%= current_user.username %></strong><span>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'link' %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'link' %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'link' %>
  <%= link_to "Login", new_user_session_path, :class => 'link' %>
<% end %>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</nav>