<!DOCTYPE html>
<html>
  <%= render 'layouts/head'%>
  <body>
    <% if current_page?(user_session_path) || current_page?(new_user_registration_path) %>
      <main><%= yield %></main>
      <header>
        <%= render 'layouts/user_log'%>
      </header>

    <%else%>
      <div class="grid-layouts">
        <header class="top-bar">
          <%= render 'layouts/user_log'%>
        </header>
        <menu class="left-menu">menu</menu>
        <main class="main-content"><%= yield %>main</main>
      </div>
    <% end %>
  </body>
</html>

