<!DOCTYPE html>
<html>
  <%= render 'layouts/head'%>
  <body>
    <% if current_page?(user_session_path) || current_page?(new_user_registration_path) %>
      <main><%= yield %></main>
      <header>
        <%= render 'layouts/user_log'%>
      </header>

    <%else%>
      <div class="grid-layouts">
        <header>
          <%= render 'layouts/user_log'%>
        </header>
        <menu>menu</menu>
        <main><%= yield %>main</main>
      </div>
    <% end %>
  </body>
</html>

